# Python virtual environments (VERY IMPORTANT)
.venv/
venv/

# Python cache files
__pycache__/
*.pyc

# Local data, session, and metadata files
# This will ignore all .json files
*.json

# FAISS vector stores and other data directories
conversational_memory_vectorstore/
data/
memory_vectorstore/
menu_memory_vectorstore/

# Environment variables file
.env

# GCP credentials file (NEVER upload this)
my-gcp-credentials.json

# IDE and editor configuration folders
.vscode/
.idea/