fastapi
uvicorn
pydantic
pandas
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
langchain-ollama
jq
numpy<2.0  # <--- ADD THIS LINE
# --- GCP Libraries ---
google-cloud-firestore
google-cloud-storage