fastapi
uvicorn
pydantic
pandas
langchain-core
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
# --- GCP Libraries ---
langchain-google-vertexai
google-cloud-firestore
google-cloud-storage